# Hugeicons Pro "Universal License Key".
#
# This is NOT read by the application at runtime — @hugeicons/react has no
# code-level license-activation call (that only existed in the deprecated
# @hugeicons/react-pro package). This key's only job is authenticating
# `npm install` against the Hugeicons Pro private registry for
# @hugeicons-pro/* packages — see .npmrc in the project root.
#
# Before running `npm install`, export this in your shell (not just here):
#   export HUGEICONS_LICENSE_KEY=your-universal-license-key
HUGEICONS_LICENSE_KEY=
